<h1>Log in Page</h1>
<form method="POST" action="/authentication/sign-in">

    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Your Username">

<br>

    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="A Safe Password">

<br>
    <button class="btn btn-primary">Log in</button>
</form>